<tr class="nested-fields">

  <td>
    <%= f.collection_select :servicio_id,
                            Servicio.all,
                            :id,
                            :nombre,
                            { include_blank: "Seleccione" },
                            class: "form-select" %>
  </td>

  <td>
    <%= f.collection_select :empleado_id,
                            Empleado.all,
                            :id,
                            :nombre,
                            { include_blank: "Seleccione empleado" },
                            class: "form-select" %>
  </td>

  <td>
    <%= f.text_area :tarea,
                    rows: 1,
                    class: "form-control",
                    placeholder: "Tarea asignada" %>
  </td>

  <td class="text-center">
    <button type="button" class="btn btn-danger remove_fields">X</button>
  </td>

</tr>
